* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header header "
    "projects projects projects "
    "services  services services"
    "footer footer footer ";
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--gray-200);
}

.header {
  grid-area: header;
  background-image: url(../assets/images/background/Background_Intro.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .double-down {
    padding-block: 94px 57px;
  }
}

header .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  margin-inline: 180px;

  section {
    text-align: center;

    .subtile-header {
      font: var(--subtitle);
      color: var(--gray-500);
    }

    h1 {
      font: var(--title-lg);
      padding-block: 8px 20px;
      color: var(--gray-600);
    }
  }
  .image {
    position: relative;
    width: 112px;
    height: 112px;
  
    img {
      padding: 4px;
      border: 2px solid var(--red);
      border-radius: 50%;
    }
  
    span {
      background-image: url(/assets/icons/Code.png);
      position: absolute;
      height: 32px;
      width: 36px;
      bottom: 8px;
      right: 11px;
    }
  }
}

.info .tags-name {
  display: flex;
  justify-content: center;
  font: var(--text-md);
  gap: 16px;
  margin-top: 80px;

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-300);
    border-radius: 999px;
    padding: 8px 16px;
    gap: 8px;
    color: var(--gray-500);
  }
}

main .projects {
  grid-area: projects;
}

main .about {
  margin-block: 72px 56px;
}

main .grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding-bottom: 144px;

  & .grid {
    background: var(--gray-300);
    padding: 12px 12px 17px 12px;
    border-radius: 12px;

    & img {
      width: 306px;
      height: 156px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    & h3 {
      font: var(--title-sm);
      color: var(--gray-600);
    }

    & p {
      font: var(--text-sm);
      color: var(--gray-500);
    }

    &:hover {
      outline: 1.5px solid var(--gray-400);
      cursor: pointer;
    }
  }
}

.services {
  grid-area: services;
  background-color: var(--gray-100);

  & .about {
    padding-block: 88px 56px;
  }

  & .cards {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    gap: 24px;

    & .card {
      width: 280px;
      border: 1px solid var(--gray-200);
      border-radius: 12px;
      padding: 20px;

      & h3 {
        margin-top: 20px;
        font: var(--title-sm);
        color: var(--gray-600);
      }

      & p {
        font: var(--text-sm);
        color: var(--gray-500);
      }
    }
  }
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/background/Thumbnail_Project-02.png);
  background-size: cover;

  & .about {
    padding-block: 128px 48px;

    & .subtile{
      color: var(--purple);
    }

    & p{
      font: var(--text-md);
      color: var(--gray-500);
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 200px;

    & li {
      display: flex;
      border-radius: 8px;
      justify-content: space-between;
      background-color: var(--gray-300);
      width: 400px;
      height: 68px;
      padding-inline: 20px;

      & .itens {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        & span {
          font: var(--text-md);
          color: var(--gray-500);
        }
      }

      &:hover {
        border: 2px solid var(--blue);
        cursor: pointer;
        transition: .2s;
      }
    }
  }
}